.tracking-details-container .tracking-details-section .tracking-map-container {
    flex: 3;
}

.tracking-details-container .tracking-details-section .tracking-map-container .driver-details {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tracking-details-container .tracking-details-section .tracking-map-container .driver-details .driver-image {
    width: 80px;
    height: 80px;
    align-self: center;
}

.tracking-details-container .tracking-details-section .tracking-map-container .driver-details .driver-image img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border-radius: 50%;
}

.tracking-details-container .tracking-details-section .tracking-map-container .driver-details .driver-image img:hover {
    scale: 0.95;
}

.tracking-details-container .tracking-details-section .tracking-map-container .driver-details .driver-name-details {
    font-weight: 600;
    text-transform: capitalize;
}

.tracking-details-container .tracking-details-section .tracking-map-container .pickup-details,
.tracking-details-container .tracking-details-section .tracking-map-container .dropoff-details {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 200px;
}

.tracking-details-container .tracking-details-section .tracking-map-container .pickup-details .pickup-address-details,
.tracking-details-container .tracking-details-section .tracking-map-container .dropoff-details .dropoff-address-details {
    font-weight: 600;
}

.tracking-details-container .tracking-details-section .tracking-map-container .pickup-details .pickup-address-details span,
.tracking-details-container .tracking-details-section .tracking-map-container .dropoff-details .dropoff-address-details span {
    font-weight: 400;
}

.tracking-details-container .tracking-details-section .tracking-map-container .pickup-details .pickup-maps-details,
.tracking-details-container .tracking-details-section .tracking-map-container .dropoff-details .dropoff-maps-details {
    font-weight: 600;
    color: rgb(26 115 232);
    cursor: pointer;
}

.tracking-details-container .tracking-details-section .tracking-map-container .pickup-details .pickup-maps-details:hover,
.tracking-details-container .tracking-details-section .tracking-map-container .dropoff-details .dropoff-maps-details:hover {
    text-decoration: underline;
}

.tracking-details-container .tracking-details-section .tracking-map-container {
    flex: 3;
}

@media (max-width: 767px) {
    .tracking-details-container .tracking-details-section .tracking-map-container img {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 1250px) {
    .tracking-details-container .tracking-details-section .tracking-map-container img {
        width: 70%;
    }
}

@media (min-width: 1375px) {
    .tracking-details-container .tracking-details-section .tracking-map-container img {
        min-width: calc(100%-406.11px);
        width: 75%;
    }
}

@media (min-width: 1630px) {
    .tracking-details-container .tracking-details-section .tracking-map-container img {
        width: 85%;
    }
}